
<div>
    <h1>Linakis Digital News</h1>
    <p class="lead">Welcome to Linakis Digital News. Here you can find news articles from one of our categories. Please choose a category to proceed.</p>    
</div>
